{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}

    <div class="event-template_container">

        <div class="row">

            <div class="root col-2 event-calendar_container">

                <i class="fas fa-user-friends calendar-icon"></i>
                {# <i class="fas fa-user-tag calendar-icon"></i> #}
                {# <i class="fas fa-calendar-alt calendar-icon"></i> #}

                <div class="event-tag_container">

                {% if event.tribe.tags is empty %}

                    <div>
                        <div>Oh non! Pour le moment il n'existe aucun tag dans votre tribu! Vous pouvez en ajouter sur la page de votre tribu. </div>
                        <div><a href="{{ path('tribe')}}" class="btn btn-warning btn-lg" role="button" target="_blank">Ma tribu</a></div>
                    </div>

                {% else %}

                    <div class="tag_form">
                    {{ form_start(tagForm) }}
                        {{ form_widget(tagForm) }}
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-warning btn-lg btn_frontline">{{ button_label|default('Tagger') }}</button>
                        </div>        
                    {{ form_end(tagForm) }}

                    </div>

                    {% for tag in event.tags %}

                        <div class="badge badge-warning tag_badge">{{ tag.title }}</div>
                    
                    {% endfor %}

                {% endif %}

                </div>

            </div>

            <div class="col-9 event-detailed_container">
            
                <div class="event-detailed_section d-flex">

                    <div class="event-date font-weight-bold text-center pr-4">
                        <div class="event-date_day">{{ event.beginingDate|localizeddate('none', 'none', 'fr', null, 'EEEE') }}</div>
                        <div class="event-date_number">{{ event.beginingDate|localizeddate('none', 'none', 'fr', null, 'd') }}</div>
                        <div class="event-date_month">{{ event.beginingDate|localizeddate('none', 'none', 'fr', null, 'MMMM') }}</div>
                    </div>

                    <div>
                        <div class="event-title display-4">{{ event.title }}</div>
                        <div class="d-flex">
                            <div class="event-author pr-1">Organisé par {{ event.user.username }} |</div>
                            <div class="event-category"><i class="fas fa-dot-circle"></i> {{ event.category }}</div>
                        </div>
                    </div>

                    {% if event.user == app.user %}
                        <div class="edit-icon d-flex align-content-end">
                            <a href="{{ path('event_edit', {'event': event.id}) }}" class="btn btn-outline-warning btn-lg" role="button"><i class="fas fa-edit"></i></a>
                        </div>
                    {% endif %}

                </div>

                <div class="event-detailed_section">
                    {% if event.endingDate is empty %}

                        <div class="mb-2"><i class="fas fa-calendar-alt pr-2"></i> le {{ event.beginingDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }} à {{ event.beginingDate|date('H') }}h{{ event.beginingDate|date('i') }}</div>

                    {% else %}

                        <div class="mb-2"><i class="fas fa-calendar-alt pr-2"></i> du {{ event.beginingDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }} au {{ event.endingDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</div>

                    {% endif %}

                    <div><i class="fas fa-map-marker-alt pr-2"></i> {{ event.place }}</div>               
                </div>

                <div class="event-detailed_section">{{ event.description }}</div>

                <div class="event-comment_section">
                    <div class="comment-detailed mb-2">
                        {% for comment in event.comments %}

                            <div class="d-flex mb-2 comment-heading">
                                <div class="mr-2"><i class="fas fa-user"></i></div>
                                <div class="mr-2 font-weight-bold"> {{ comment.user.username }}</div>

                                <div> 
                                    {% if comment.createdAt|date('d/m/Y') == "now"|date('d/m/Y') %}
                                        | aujourd'hui 
                                    {% else %}
                                        | le {{ comment.createdAt|date('d/m/Y') }} 
                                    {% endif %}
                                    à {{ comment.createdAt|date('H:i') }} 
                                </div>

                            </div>

                            <div class="comment_content mb-2">{{ comment.content }}</div>

                        {% endfor %}
                    </div>

                    <div class="comment-form">

                        {{ form_start(commentForm) }}
                            {{ form_widget(commentForm) }}

                                <div class="float-left">
                                    <button class="btn btn-warning btn-lg btn_frontline">{{ button_label|default('Commenter') }}</button>
                                </div>   

                        {{ form_end(commentForm) }}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
