{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}

    <div class="profile-edit_container">

        <h1 class="display-4 text-center mb-3">Modifier mes informations</h1>

        <div class="profile-edit_form">

            {{ form_start(form) }}
                {{ form_widget(form) }}
                
                    <div class="float-right">

                        <button class="btn btn-warning btn-lg btn_frontline">{{ button_label|default('Valider mes modifications') }}</button>

                        <a href="{{ path('profile_index') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Annuler</a>

                    </div>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
