{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Page de profil</h1>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


<a href="{{ path('homepage') }}"><p>Retour à l'accueil</p></a>

{% endblock %}
