{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
        <p class="card-text">Email : {{ app.user.email }}</p>
        <p class="card-text">Username : {{ app.user.username }}</p>
        <p class="card-text"><small class="text-muted"><a href="{{ path('profile_edit') }}" class="btn btn-outline-warning btn-lg" role="button">Modifier mes informations</a></small></p>
      </div>
    </div>
  </div>
</div>



<h1 class="text-center">Page de profil de {{ app.user.username }}</h1>

    {% if app.user.tribe == null %}

    <p>Vous n'avez pas encore de tribu.</p> 
    <p><a href="{{ path('newTribe') }}" class="btn btn-primary btn-lg" role="button">Créer ma tribu</a></p>

    {% else %}

    <p>Votre tribu est {{ app.user.tribe }}</p>

    <p>Votre photo de profil : <img src="{{ asset('uploads/avatars/default-avatar.png') }}" alt="default-avatar" {#{{ app.user.avatar }}#}</p>

    {#<a href="{{ path('movie_show', { 'id': movie.id }) }}">
      <img src="{{ asset(poster_upload_path ~ (movie.poster ?: 'default-movie.jpg')) }}" class="img-fluid">
    </a>#}


    <p><a href="{{ path('tribe') }}" class="btn btn-outline-warning btn-lg" role="button">Voir les membres de ma tribu</a></p>
    <p><a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg" role="button">Inviter un nouveau membre à rejoindre votre groupe</a></p>

    {% endif %}


<p><a href="{{ path('events_list') }}" class="btn btn-outline-warning btn-lg" role="button">Liste de mes événements</a></p> <p>pour info, j'en ai créé {{ app.user.events|length }}</p>

<p><a href="{{ path('calendar') }}" class="btn btn-outline-warning btn-lg" role="button">Retour vers le calendrier</a></p>
<p><a href="{{ path('app_logout') }}" class="btn btn-outline-warning btn-lg" role="button">Me déconnecter</a></p>

{% endblock %}
