{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1 class="text-center">Page de profil de {{ app.user.username }}</h1>

<a href="{{ path('send_invitation') }}"><p>Inviter un nouveau membre à rejoindre votre groupe</p></a>

<a href="{{ path('profile_edit') }}"><p>Modifier mes informations</p></a>


<a href="{{ path('homepage') }}"><p>Retour à l'accueil</p></a>

{% endblock %}
