{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}

  <div class="pt-2 d-flex justify-content-between align-items-center nav_container">

    <div class="float-left text-center"><i class="fas fa-sun fa-4x"></i><p class="logo_content">Yellow Tribe</p></div>
        
        <div class="d-flex">

            <p class="pl-2"><a href="{{ path('calendar') }}" class="btn btn-outline-warning btn-lg" role="button">Calendrier</a></p>

            <a href="{{ path('app_logout') }}" class="fa_logout"><i class="fas fa-power-off fa-3x pl-3"></i></a>
        
        </div>

    </div>

  </div>

{% endblock %}

{% block body %}

{# btn logout #}
{# <i class="fas fa-power-off fa-10x"></i> #}

<div class="profile_container">
        <h5 class="card-title">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
        <p class="card-text">Email : {{ app.user.email }}</p>
        <p class="card-text">Username : {{ app.user.username }}</p>
        <p class="card-text"><small class="text-muted"><a href="{{ path('profile_edit') }}" class="btn btn-outline-warning btn-lg" role="button">Modifier mes informations</a></small></p>

</div>




<h1 class="text-center">Page de profil de {{ app.user.username }}</h1>

    {% if app.user.tribe == null %}

    <p>Vous n'avez pas encore de tribu.</p> 
    <p><a href="{{ path('newTribe') }}" class="btn btn-primary btn-lg" role="button">Créer ma tribu</a></p>

    {% else %}

    <p>Votre tribu est {{ app.user.tribe }}</p>
    {# TODO: créer le tpl pour voir les membres de sa tribu avec la @Route '/{tribe}/members' #}
    <p><a href="{{ path('tribe') }}" class="btn btn-outline-warning btn-lg" role="button">Voir les membres de ma tribu</a></p>
    <p><a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg" role="button">Inviter un nouveau membre à rejoindre votre groupe</a></p>

    {% endif %}


<p><a href="{{ path('events_list') }}" class="btn btn-outline-warning btn-lg" role="button">Liste de mes événements</a></p> <p>pour info, j'en ai créé {{ app.user.events|length }}</p>

<p><a href="{{ path('calendar') }}" class="btn btn-outline-warning btn-lg" role="button">Voir le calendrier</a></p>
<p><a href="{{ path('app_logout') }}" class="btn btn-outline-warning btn-lg" role="button">Me déconnecter</a></p>

{% endblock %}
