{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}

    <div class="profile_container">

        <div class="profile-content_information">
            
        </div>

        <div class="profile-content_tribe">

            {% if app.user.tribe == null %}

                <div class="tribe_null">Vous n'avez pas</div> <div class="tribe_null">encore de tribu!</div>

                <div class="tribe_btn">

                    <div><a href="{{ path('newTribe') }}" class="btn btn-warning btn-lg btn_frontline" role="button">Créer ma tribu</a></div>

                </div>


            {% else %}

                <div class="tribe_name mb-1">Tribu</div>

                <div class="tribe_name mb-3"><span>"{{ app.user.tribe }}"</span></div>

                <div class="tribe_icon"><i class="fas fa-user-friends"></i></div>

                <div class="tribe_btn">

                    <div><a href="{{ path('tribe') }}" class="btn btn-outline-warning btn-lg btn_frontline" role="button">Voir membres</a></div>

                    <div><a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg btn_frontline" role="button"><i class="fas fa-plus"></i> Inviter un nouveau membre</a></div>

                </div>

            {% endif %}

        </div>

    </div>

    {% include ('_footer.html.twig') %}

{% endblock %}