{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}

<div class="profile_container">

  <h1 class="text-center profile_title">Profil de {{ app.user.firstname }} {{ app.user.lastname }}</h1>

  <div class="d-flex justify-content-between">

    <div class="profile_content">

      <div class="text-center">Mes informations</div>

      <div class="d-flex justify-content-around">

        <div>

          <div>Tribu : {{ app.user.tribe }}</div>
          <div>Prénom : {{ app.user.firstname }}</div>
          <div>Nom : {{ app.user.lastname }}</div>
          <div>Username : {{ app.user.username }}</div>
          <div>Email : {{ app.user.email }}</div>

          <a href="{{ path('profile_edit') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Modifier mes informations</a>

        </div>

        <div class="text-center">

          {# <div>Votre avatar</div>  #}
          <img src="{{ asset(avatar_upload_path ~ (app.user.avatar ?: 'default-avatar.png')) | imagine_filter('thumb_back_list') }}"/>
          <div><a href="{{ path('profile_avatar_edit') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Modifier</a></div>

        </div>

      </div>



    </div>

    <div class="profile_action text-center">

    {% if app.user.tribe == null %}

      <div>Vous n'avez pas encore de tribu!</div>

      <div><a href="{{ path('newTribe') }}" class="btn btn-warning btn-lg btn_frontline" role="button">Créer ma tribu</a></div>

    {% else %}

      <div><a href="{{ path('tribe') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Tribu des {{ app.user.tribe.name }}</a></div>

      <div><a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Inviter un nouveau membre</a></div>

    {% endif %}

      <div><a href="{{ path('profile_edit') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Modifier mes informations</a></div>

      <div><a href="{{ path('events_list') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Mes événements ({{ app.user.events|length }})</a></div>

      <div><a href="{{ path('event_new') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Créer un événement</a></div>

      <div><a href="{{ path('app_logout') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Déconnexion</a></div>
    
    </div>

  <div>

</div>

</div>

</div>

{% include ('_footer.html.twig') %}


{% endblock %}
