{% extends 'base.html.twig' %}

{% block title %}La Tribu des {{ tribe.name }}{% endblock %}

{% block header %}

  <div class="pt-2 d-flex justify-content-between align-items-center nav_container">

    <div class="float-left text-center"><i class="fas fa-sun fa-4x"></i><p class="logo_content">Yellow Tribe</p></div>
        
        <div class="d-flex">

            <p class="pl-2"><a href="{{ path('calendar') }}" class="btn btn-outline-warning btn-lg" role="button">Calendrier</a></p>

            <a href="{{ path('profile_index') }}" class="fa_profile"><i class="fas fa-user fa-3x pl-3"></i></a>
            
            <a href="{{ path('app_logout') }}" class="fa_logout"><i class="fas fa-power-off fa-3x pl-3"></i></a>
        
        </div>

    </div>

  </div>

{% endblock %}

{% block body %}

<p>Ma tribu ! {{ tribe.name }}</p>

<div>Il y a : 
    <ul>
    {% for user in tribe.users %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
</div>

<p>Je peux inviter de nouveaux membres en cliquant sur <a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg" role="button">ce bouton</a></p>

{% endblock %}
