{% extends 'base.html.twig' %}

{% block title %}Nouvelle tribu{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}
<div class="invitation_container">

    <h1 class="display-4 text-center mb-3">Créer une nouvelle tribu</h1>

    <div class="text-justify">Veuillez créer le nom de votre tribu pour pouvoir</div>
    
    <div class="text-justify">accéder au calendrier et créer des événements. </div>
    
    <div class="text-justify">Il sera attribué à tous les futurs membres de votre tribu.</div>

    <div class="text-justify mb-4"> Choisissez le bien !</div> 

    <div>
    
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-between">
            
                <a href="{{ path('profile_index') }}" class="btn_backline btn btn-outline-warning btn-lg" role="button">Annuler</a>
               
                <button class="btn btn-warning btn-lg btn_frontline">{{ button_label|default('Créer') }}</button>
            
            </div> 
        {{ form_end(form) }}

    </div>

    {% include "_footer.html.twig" %}

{% endblock %}