{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include ('_nav.html.twig') %}

{% endblock %}

{% block body %}

    <div class="homepage_container text-center">

        <div class="intro"> {# left section #}

            <div class="homepage-intro_content">

                <h2 class="homepage_catchphrase">
                    <span>Restez</span>
                    <span>connecté avec</span>
                    <span>votre tribu</span>
                </h2>

                <div class="argument_container">

                    <div class="argument_content">
                        <i class="fas fa-users argument_icon"></i>
                        <div class="argument_sentence"> Créez votre propre Tribu </div>
                    </div>

                    <div class="argument_content">
                        <i class="fas fa-calendar-check argument_icon"></i>
                        <div class="argument_sentence"> Organisez des événements ensemble </div>
                    </div>

                    <div class="argument_content">
                        <i class="fas fa-map-marker-alt argument_icon"></i>
                        <div class="argument_sentence"> Partagez des souvenirs </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="connexion"> {# right section #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="mb-3 connected_username">{{ app.user.username }}</div>

            <div class="connexion_button mb-3"><a href="{{ path('profile_index') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Accéder à votre profil</a></div>

            {% else %}

            <div class="connexion_button mb-3"><a href="{{ path('app_login') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Connexion</a></div>

            <div class="connexion_button "><a href="{{ path('app_signup') }}" class="btn btn-warning btn-lg btn_frontline" role="button">Inscription</a></div>

            {% endif %}

        </div>
    </div>

{% endblock %}

