{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

    {% include "_nav.html.twig" %}

{% endblock %}

{% block body %}

<div class="signup_container">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h1 class="display-4 text-center mb-3">Votre compte est déjà créé</h1>
        {# TODO: bouton vers profil ou redirection via SecurityController.php #}

    {% else %}

        <h1 class="form-title display-4 text-center mb-3">Créer un compte</h1>

        <div class="">

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="float-right">
                    <a href="{{ path('homepage') }}" class="btn btn-outline-warning btn-lg btn_backline" role="button">Annuler</a>
                    <button class="btn btn-warning btn-lg btn_frontline">{{ button_label|default('Valider') }}</button>
                </div>
            {{ form_end(form) }}

        </div>

        <div class="mt-5 "><span class="text-muted">* champs obligatoires</span></div>

    {% endif %}

</div>

{% endblock %}
